setuptools==58.0.4
wheel
absl-py==1.4.0
accelerate==1.8.1
annotated-types==0.7.0
anyio==4.0.0
asyncpg==0.30.0
fastapi==0.115.13
greenlet==3.2.3
graphql-core==3.2.6
h11==0.16.0
httpx==0.28.1
networkx==3.1
numpy==1.24.3
pandas==2.3.0
pydantic==1.10.22
python-dotenv==1.1.1
scipy==1.11.2
SQLAlchemy==2.0.41
strawberry-graphql==0.275.2
uvicorn==0.34.3
